a {
    text-decoration: none;
    color: rgb(219, 143, 71);
    font-weight: bold;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px;
    /* text-align: center; */
}
h1 {
    font-family: "Chewy", cursive ,sans-serif;
    color: rgb(46, 125, 227);
    /* text-align: left; */
    font-size: 38px;
}
h2 {
    color:#ae358e ;
    margin-left: 0.5cm;
    display:block;
}
h3 { 
    color: #ca7bb5;
    margin-left: 1.25cm;
}
img {
    float: right;
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 0.5cm;
}
ul {
    list-style: none;
    text-align: justify;
    background-color: #ffffff05;
    border-radius: 6px;
}
footer {
    position: relative;
    bottom: 0;
    padding: 15px;
    font-size: x-large;
    text-align: center;
    color: #8f4f7e;
    width: 100%;
}
/* body {
    background-color: rgb(253, 242, 255);
} */

/* .home-card {
    background-color: rgb(254, 251, 157);
} */
.end {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    position: fixed;
    margin-bottom: 0 auto;
    color: rgb(54, 127, 222);
    text-align: center;
}
.cooking-card {
    background-color: #f9f3f7;
    border-style: dashed;
    border-color: #d85ab4;;
    border-radius: 12px;
}
.cooking-card ol {
    list-style-type: lower-greek;
    margin-left: 1.5cm;
}
.cooking-card h2 {
    text-align: center;
   
}
.title {
    background-color: #8f4f7e;
    color: white;
    background-clip: content-box;
    text-align: center;
} 
.cooking-card .end {
    color: #630b4a;
}
.flix {
    display: flex;
    gap: 1cm;
}
.Description-card,
.Ingredients-card {
    margin: 6px;
    background-color: #fff;
    border-radius: 13px;
    margin: 5px;
    border: solid 5px #630b4a;
}
.links-list a {
    background-color: rgb(176, 142, 110);
    color: #fff;
    text-decoration: none;
    width:fit-content;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 6px;
    display: block;
  }
  .links-list li {
    background-color: rgb(240, 229, 218);
    border-radius: 6px;
    text-align: center;
  }
  
  .links-list a:hover {
    background-color: rgb(192, 127, 66);
    color: #fff;
    border-radius: 13px;
  
  }